<section class="section-about" id="about">
  <div class="about-container container">
    <div class="about-block">
      <h2 class="about-title">
        <span class="about-title-cursive">Yaht Adventures</span> fleet is here
        to take you on the ultimate adventure. Each yacht is hand-picked for its
        comfort, style, and performance.
      </h2>
      <ul class="about-list">
        <li class="about-item">
          <p class="about-desc">
            From spacious decks to state-of-the-art technology, our yachts are
            designed to provide the perfect blend of luxury and functionality.
            Take a look at our selection below and choose the yacht that matches
            your needs and preferences.
          </p>
        </li>
        <li class="about-item">
          <p class="about-desc">
            No matter which yacht you choose, our experienced crew will ensure
            that your journey is smooth and enjoyable. Book now and get ready
            for an unforgettable adventure on the high seas.
          </p>
        </li>
      </ul>
    </div>
    <div class="about-images-block">
      <ul class="about-images-list">
        <li class="about-images-item">
          <!-- desktop -->
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ../img/about/yaht1-desktop@1x.webp 1x,
                ../img/about/yaht1-desktop@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                ../img/about/yaht1-desktop@1x.png 1x,
                ../img/about/yaht1-desktop@2x.png 2x
              "
              type="image/png"
            />
            <!-- tablet -->
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/about/yaht-tablet@1x.webp 1x,
                ../img/about/yaht-tablet@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/about/yaht-tablet@1x.png 1x,
                ../img/about/yaht-tablet@2x.png 2x
              "
              type="image/png"
            />
            <!-- mobile -->
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/about/yaht-mobile@1x.webp 1x,
                ../img/about/yaht-mobile@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/about/yaht-mobile@1x.png 1x,
                ../img/about/yaht-mobile@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="about-image-1"
              src="../img/about/yaht-tablet@1x.png"
              alt="yach upper-deck"
              width="704"
              height="631"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="about-images-item">
          <!-- desktop -->
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ../img/about/yaht2-desktop@1x.webp 1x,
                ../img/about/yaht2-desktop@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                ../img/about/yaht2-desktop@1x.png 1x,
                ../img/about/yaht2-desktop@2x.png 2x
              "
              type="image/png"
            />
            <!-- tablet -->
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/about/yaht2-tablet@1x.webp 1x,
                ../img/about/yaht2-tablet@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/about/yaht2-tablet@1x.png 1x,
                ../img/about/yaht2-tablet@2x.png 2x
              "
              type="image/png"
            />
            <!-- mobile -->
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/about/yaht2-mobile@1x.webp 1x,
                ../img/about/yaht2-mobile@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/about/yaht2-mobile@1x.png 1x,
                ../img/about/yaht2-mobile@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="about-image-2"
              src="../img/about/yaht2-mobile@1x.png"
              alt="open-deck restaurant"
              width="335"
              height="289"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="about-images-item">
          <!-- desktop -->
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ../img/about/yaht3-mobile@1x.webp 1x,
                ../img/about/yaht3-mobile@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                ../img/about/yaht3-mobile@1x.png 1x,
                ../img/about/yaht3-mobile@2x.png 2x
              "
              type="image/png"
            />
            <!-- tablet -->
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/about/yaht3-mobile@1x.webp 1x,
                ../img/about/yaht3-mobile@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/about/yaht3-mobile@1x.png 1x,
                ../img/about/yaht3-mobile@2x.png 2x
              "
              type="image/png"
            />
            <!-- mobile -->
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/about/yaht3-mobile@1x.webp 1x,
                ../img/about/yaht3-mobile@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/about/yaht3-mobile@1x.png 1x,
                ../img/about/yaht3-mobile@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="about-image-3"
              src="../img/about/yaht3-mobile@1x.png"
              alt="photo of yacht from drone"
              width="260"
              height="244"
              loading="lazy"
            />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
