<footer class="footer">
  <!-- <div class="footer-line"></div> -->
  <div class="footer-info container">
    <div class="footer-main">
      <div class="footer-logo-container">
        <a class="footer-logo" href="#header" aria-label="footer logo">
          <svg class="logo-footer" width="16" height="18">
            <use href="./public/sprite.svg#logo-site"></use>
          </svg>
          <p class="footer-logo-text">yaht Adventures</p>
        </a>
      </div>
      <div class="container-foot-elemenets">
        <ul class="footer-items list">
          <li class="footer-list-elements">
            <a class="footer-link" href="#about">About</a>
          </li>
          <li class="footer-list-elements">
            <a class="footer-link" href="#yahts">Yahts</a>
          </li>
          <li class="footer-list-elements">
            <a class="footer-link" href="#reviews">Reviews</a>
          </li>
        </ul>
      </div>

      <div class="container-icon">
        <p class="footer-social">We in social</p>
        <ul class="list-icon">
          <li class="footer-social-item">
            <a
              class="footer-icon-link"
              href="https://uk-ua.facebook.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="icon-svg" width="15" height="15">
                <use href="./public/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a
              class="footer-icon-link"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="icon-svg" width="15" height="15">
                <use href="./public/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a class="footer-icon-link" href="">
              <svg class="icon-svg" width="18" height="18">
                <use href="./public/sprite.svg#youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-policy">
      <p class="footer-copyright">2023. Yaht Adventures</p>
      <p class="footer-police">Privacy Police</p>
    </div>
  </div>
</footer>
