<!-- Header -->
<header class="header">
  <div class="container header-container ">
    <div class="header-logotype">
      <a
        class="header-logo"
        href="./index.html"
        aria-label="Yacht Adventure logo"
      >
        <svg class="header-icon" width="16" height="18">
          <use href="../public/sprite.svg#logo-site"></use>
        </svg>
        <p class="logo-text">yaht adventure</p>
      </a>
    </div>
    <nav class="header-nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="#about">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#yahts">YAHTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#reviews">REVIEWS</a>
        </li>
      </ul>
    </nav>
    <button class="hamburger" type="button" data-menu-open>
      <svg class="menu-icon" width="24" height="24">
        <use href="../public/sprite.svg#vector-menu"></use>
      </svg>
    </button>
    <!-- Blure -->
  <ul>
    <li class="blure blure-header-one"></li>
    <li class="blure blure-header-two"></li>
    <li class="blure blure-yacht-one"></li>
    <li class="blure blure-yacht-two"></li>
    <li class="blure blure-services"></li>
    <li class="blure blure-form"></li>
    <li class="blure blure-footer"></li>
  </ul>
</header>
<!-- Mobile menu -->
<div class="modal-menu-container is-open" data-menu>
  <div class="modal-menu-header container">
    <div class="modal-menu-logo">
      <a
        class="header-logo"
        href="./index.html"
        aria-label="Yacht Adventure logo"
      >
        <svg class="header-icon" width="16" height="18">
          <use href="../public/sprite.svg#logo-site"></use>
        </svg>
        <p class="logo-text">yaht adventure</p>
      </a>
    </div>
    <button class="modal-menu-btn-close" data-menu-close>
      <svg class="close-icon" width="24" height="24" aria-label="Close button">
        <use href="../public/sprite.svg#menu-close"></use>
      </svg>
    </button>
  </div>
  <ul class="modal-menu-list">
    <li class="modal-menu-item">
      <a class="modal-menu-link" href="index.html#about">ABOUT</a>
    </li>
    <li class="modal-menu-item">
      <a class="modal-menu-link" href="index.html#yahts">YAHTS</a>
    </li>
    <li class="modal-menu-item">
      <a class="modal-menu-link" href="index.html#reviews">REVIEWS</a>
    </li>
  </ul>
  <!-- Blure Mobile Menu -->
  <ul>
    <li class="blure blure-mobile-one"></li>
    <li class="blure blure-mobile-two"></li>
  </ul>
</div>

<script src="../js/menu.js" type="module"></script>
