<!-- Header -->
<header class="header">
  <div class="header-container container">
    <div class="header-logotype">
      <svg class="header-icon" width="160" height="18">
        <use href="./public/sprite.svg#logo-site"></use>
      </svg>
      <a
        class="header-logo"
        href="./index.html"
        aria-label="Yacht Adventure logo"
      >
        <p class="logo-text">yaht adventure</p>
      </a>
    </div>

    <nav class="header-nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="#ABOUT">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#YAHTS">YAHTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#REVIEWS">REVIEWS</a>
        </li>
      </ul>
    </nav>
    <button class="menu-toggle" type="button" data-menu-open>
      <svg class="menu-icon" width="20" height="14">
        <use href="../public/sprite.svg/#mobile-menu"></use>
      </svg>
    </button>
  </div>
  <svg class="under-line" width="335" height="2">
    <use href="../public/sprite.svg/#under-line"></use>
  </svg>
</header>

<!-- Mobile menu -->
<!-- <div class="modal-menu-container" data-menu>
  <button class="modal-menu-btn-close" data-menu-close>
    <svg class="close-icon" width="24" height="24" aria-label="Close button">
      <use href="../public/sprite.svg/#mobile-menu"></use>
    </svg>
  </button>
  <ul class="modal-menu-list">
    <li class="modal-menu-item">
      <a class="modal-menu-link" href=""></a>
    </li>
    <li class="modal-menu-item">
      <a class="modal-menu-link" href=""></a>
    </li>
    <li class="modal-menu-item">
      <a class="modal-menu-link" href=""></a>
    </li>
  </ul>
</div> -->
