<!-- Header -->
<header class="header" id="header">
  <div class="container header-container">
    <div class="header-logotype">
      <a
        class="header-logo"
        href="./index.html"
        aria-label="Yacht Adventure logo"
      >
        <svg class="header-icon" width="16" height="18">
          <use href="./public/sprite.svg#logo-site"></use>
        </svg>
        <p class="logo-text">yaht adventure</p>
      </a>
    </div>
    <nav class="header-nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="#about">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#yahts">YAHTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#reviews">REVIEWS</a>
        </li>
      </ul>
    </nav>
    <button
      class="menu-toggle js-open-menu scrollLockBtnBurger"
      aria-expanded="false"
      aria-controls="mobile-menu"
      aria-label="mobile-menu"
    >
      <svg class="menu-icon" width="24" height="24">
        <use href="./public/sprite.svg#vector-menu"></use>
      </svg>
    </button>
  </div>
</header>
<!-- Mobile menu -->
<div class="mobile-menu-container js-menu-container is-open" id="mobile-menu">
  <div class="mobile-menu-header container">
    <div class="modal-menu-logo">
      <a
        class="header-logo"
        href="./index.html"
        aria-label="Yacht Adventure logo"
      >
        <svg class="header-icon" width="16" height="18">
          <use href="./public/sprite.svg#logo-site"></use>
        </svg>
        <p class="logo-text">yaht adventure</p>
      </a>
    </div>
    <button
      class="mobile-menu-btn-close hamburger scrollUnlockBtnBurger js-close-menu"
      type="button"
      aria-label="close modal btn"
    >
      <svg class="close-icon" width="24" height="24" aria-label="Close button">
        <use href="./public/sprite.svg#menu-close"></use>
      </svg>
    </button>
  </div>
  <ul class="mobile-menu-list">
    <li class="mobile-menu-item">
      <a class="mobile-menu-link" href="#about">ABOUT</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link" href="#yahts">YAHTS</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link" href="#reviews">REVIEWS</a>
    </li>
  </ul>
</div>
