<section class="hero">
  <div class="container">
    <h1 class="hero-title">
      Explore the High Seas with
      <span class="secondary-color-title">Our Luxury Yacht</span> Rentals
    </h1>
    <p class="hero-description">
      Experience the freedom and luxury of yachting on the open seas. Choose
      from our top-of-the-line yachts and embark on an unforgettable journey
      surrounded by breathtaking views and state-of-the-art amenities.
    </p>
    <div class="hero-buttons">
      <button class="hero-button hero-button-light" type="button">
        Get Started
      </button>
      <a href="#services" class="hero-button hero-button-dark" type="button">
        Explore
      </a>
    </div>
    <div class="hero-wrapper">
      <picture>
        <!-- Desktop screen -->
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/hero/group-tablet@1x.webp 1x,
            ./img/hero/group-tablet@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/hero/group-tablet@1x.png 1x,
            ./img/hero/group-tablet@2x.png 2x
          "
          type="image/png"
        />
        <!-- Tablet screen -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/hero/group-tablet@1x.webp 1x,
            ./img/hero/group-tablet@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/hero/group-tablet@1x.png 1x,
            ./img/hero/group-tablet@2x.png 2x
          "
          type="image/png"
        />
        <!-- Mobile screen -->
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/hero/group-mobile@1x.webp 1x,
            ./img/hero/group-mobile@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/hero/group-mobile@1x.png 1x,
            ./img/hero/group-mobile@2x.png 2x
          "
          type="image/png"
        />
        <img
          class="hero-customer"
          src="./img/hero/group-tablet@1x.png "
          alt="background group"
          width="426"
          height="598"
          loading="lazy"
        />
      </picture>
      <div class="customers-block">
        <ul class="customers-list">
          <li class="customers-item">
            <picture>
              <!-- Desktop screen -->
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/hero/cus1-tablet@1x.webp 1x,
                  ./img/hero/cus1-tablet@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/hero/cus1-tablet@1x.png 1x,
                  ./img/hero/cus1-tablet@2x.png 2x
                "
                type="image/png"
              />
              <!-- Tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/hero/cus1-tablet@1x.webp 1x,
                  ./img/hero/cus1-tablet@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/hero/cus1-tablet@1x.png 1x,
                  ./img/hero/cus1-tablet@2x.png 2x
                "
                type="image/png"
              />
              <!-- Mobile screen -->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/hero/customers-mobile-1@1x.webp 1x,
                  ./img/hero/customers-mobile-1@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/hero/customers-mobile-1@1x.png 1x,
                  ./img/hero/customers-mobile-1@2x.png 2x
                "
                type="image/png"
              />
              <img
                class="hero-customer"
                src=".img/hero/cus1-tablet@1x.png"
                alt="man"
                width="48"
                height="48"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="customers-item">
            <picture>
              <!-- Desktop screen -->
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/hero/cus2-tablet@1x.webp 1x,
                  ./img/hero/cus2-tablet@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/hero/cus2-tablet@1x.png 1x,
                  ./img/hero/cus2-tablet@2x.png 2x
                "
                type="image/png"
              />
              <!-- Tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/hero/cus2-tablet@1x.webp 1x,
                  ./img/hero/cus2-tablet@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/hero/cus2-tablet@1x.png 1x,
                  ./img/hero/cus2-tablet@2x.png 2x
                "
                type="image/png"
              />
              <!-- Mobile screen -->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/hero/customers-mobile-2@1x.webp 1x,
                  ./img/hero/customers-mobile-2@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/hero/customers-mobile-2@1x.png 1x,
                  ./img/hero/customers-mobile-2@2x.png 2x
                "
                type="image/jpg"
              />
              <img
                class="hero-customer"
                src="./img/hero/cus2-tablet@1x.png "
                alt="woman"
                width="48"
                height="48"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="customers-item">
            <picture>
              <!-- Desktop screen -->
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/hero/cus3-tablet@1x.webp 1x,
                  ./img/hero/cus3-tablet@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/hero/cus3-tablet@1x.png 1x,
                  ./img/hero/cus3-tablet@2x.png 2x
                "
                type="image/png"
              />
              <!-- Tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/hero/cus3-tablet@1x.webp 1x,
                  ./img/hero/cus3-tablet@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/hero/cus3-tablet@1x.png 1x,
                  ./img/hero/cus3-tablet@2x.png 2x
                "
                type="image/png"
              />
              <!-- Mobile screen -->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/hero/customers-mobile-3@1x.webp 1x,
                  ./img/hero/customers-mobile-3@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/hero/customers-mobile-3@1x.png 1x,
                  ./img/hero/customers-mobile-3@2x.png 2x
                "
                type="image/png"
              />
              <img
                class="hero-customer"
                src="./img/hero/cus3-tablet@1x.png "
                alt="man"
                width="48"
                height="48"
                loading="lazy"
              />
            </picture>
          </li>
        </ul>
        <p class="customers-cuption">Our Clients</p>
      </div>
      <div class="seo">
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/hero/ceo-tablet@1x.webp 1x,
              ./img/hero/ceo-tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/hero/ceo-tablet@1x.png 1x,
              ./img/hero/ceo-tablet@2x.png 2x
            "
            type="image/png"
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/hero/ceo-tablet@1x.webp 1x,
              ./img/hero/ceo-tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/hero/ceo-tablet@1x.png 1x,
              ./img/hero/ceo-tablet@2x.png 2x
            "
            type="image/png"
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/hero/ceo-mobile@1x.webp 1x,
              ./img/hero/ceo-mobile@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/hero/ceo-mobile@1x.png 1x,
              ./img/hero/ceo-mobile@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="hero-customer"
            src="./img/hero/ceo-tablet@1x.png "
            alt="man"
            width="133"
            height="133"
            loading="lazy"
          />
        </picture>
      </div>
      <div class="hero-image">
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/hero/yaht-tablet@1x.webp 1x,
              ./img/hero/yaht-tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/hero/yaht-tablet@1x.png 1x,
              ./img/hero/yaht-tablet@2x.png 2x
            "
            type="image/png"
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/hero/yaht-tablet@1x.webp 1x,
              ./img/hero/yaht-tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/hero/yaht-tablet@1x.png 1x,
              ./img/hero/yaht-tablet@2x.png 2x
            "
            type="image/png"
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/hero/yaht-mobile@1x.webp 1x,
              ./img/hero/yaht-mobile@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/hero/yaht-mobile@1x.png 1x,
              ./img/hero/yaht-mobile@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="hero-customer"
            src="./img/hero/yaht-tablet@1x.png "
            alt="yaht"
            width="287"
            height="167"
            loading="lazy"
          />
        </picture>
      </div>
      <div class="hero-advertising">
        <p class="hero-advertising-sum">&#36;12m</p>
        <p class="hero-advertising-cta">
          Book now and make your dream yacht rental a reality
        </p>
      </div>
    </div>
  </div>
</section>
