<!------------
    RENT BLOCK
-------------->
<section class="section-rent">
  <div class="rent-all">
    <div class="rent-title-part">
      <h2 class="rent-title">Rent a yaht now</h2>
      <picture class="rent-img">
        <source
          srcset="
            ./img/rent/yaht-desktop@1x.webp 1x,
            ./img/rent/yaht-desktop@2x.webp 2x,
            ./img/rent/yaht-mob@1x.webp     1x,
            ./img/rent/yaht-mob@2x.webp     2x
          "
          type="image/webp"
        />
        <source
          srcset="
            ./img/rent/yaht-desktop@1x.png 1x,
            ./img/rent/yaht-desktop@2x.png 2x,
            ./img/rent/yaht-mob@1x.png     1x,
            ./img/rent/yaht-mob@2x.png     2x
          "
          type="image/jpeg"
        />
        <img
          src="./img/rent/yaht-desktop@1x.png"
          alt="A sailboat navigating a sea"
        />
      </picture>
    </div>

    <div class="rent-request">
      <form class="rent-form" action="">
        <ul class="rent-form-list">
          <li class="rent-list-item">
            <input
              class="rent-form-input"
              type="text"
              name="user_name"
              id="user_name"
              required
              pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
              title="Full name must be two words separated by space"
            />
            <label class="rent-form-label" for="user_name">Full Name</label>
          </li>

          <li class="rent-list-item">
            <input
              class="rent-form-input"
              type="email"
              name="user_email"
              id="user_email"
              required
              pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-zA-Z]{2,4}"
              title="Unvalid email"
            />
            <label class="rent-form-label" for="user_email">Email</label>
          </li>

          <li class="rent-list-item">
            <input
              class="rent-form-input"
              type="tel"
              name="user_phone"
              id="user-phone"
              required
              pattern="/^(?:(?:\+|00)33[\s.-]{0,3}(?:\(0\)[\s.-]{0,3})?|0)[1-9](?:(?:[\s.-]?\d{2}){4}|\d{2}(?:[\s.-]?\d{3}){2})$/"
              title="Unvalid phone number"
            />
            <label class="rent-form-label" for="user_phone">Phone number</label>
          </li>

          <li class="rent-list-item">
            <textarea
              class="rent-form-comment"
              name="user_comment"
              id="user_comment"
              rows="5"
            ></textarea>
            <label class="rent-form-label" for="user_comment">Comment</label>
          </li>
        </ul>
      </form>

      <button class="rent-btnsend" type="submit" data-modal-open>
        Send
        <svg class="rent-send-button" width="18" height="8.66">
          <use href="./public/sprite.svg#right-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
<!-- RENT MODAL WINDOW -->

<div class="backdrop is-hidden" data-modal>
  <div class="rent-modal">
    <button
      class="rent-modalbtn"
      type="button"
      aria-label="Close modal window button"
      data-modal-close
    >
      <svg class="rent-close-icon" width="20" height="20">
        <use href="./public/sprite.svg#close-icon"></use>
      </svg>
    </button>
    <picture class="rent-imgmodal">
      <source
        srcset="
          ./img/rent/pop-tablet@1x.webp 1x,
          ./img/rent/pop-tablet@2x.webp 2x,
          ./img/rent/pop-mob@1x.webp    1x,
          ./img/rent/pop-mob@2x.webp    2x
        "
        type="image/webp"
      />
      <source
        srcset="
          ./img/rent/pop-tablet@1x.png 1x,
          ./img/rent/pop-tablet@2x.png 2x,
          ./img/rent/pop-mob@1x.png    1x,
          ./img/rent/pop-mob@2x.png    2x
        "
        type="image/jpeg"
      />
      <img src="./img/rent/pop-tablet@1x.png" alt="A picture of yacht" />
    </picture>
    <h3 class="rent-modal-title">Thank you</h3>
    <p class="rent-modal-text">
      Thank you for choosing Yacht Adventures, your booking details have been
      received and our team will be in touch shortly to confirm your reservation
      and provide any additional information or assistance you may need.
    </p>
    <!-- Blure Rent Modal -->
    <div class="blure blure-rent-modal"></div>
  </div>
</div>
