<section class="reviews">
  <div class="container">
    <h4 class="reviews-title">
      Yaht Adventures take pride in providing the best possible service and
      experience to our customers
    </h4>
    <p class="reviews-subtitle">
      Our customers have enjoyed unforgettable moments on our yachts. Don't just
      take our word for it - read on to find out what they have to say about
      their journey with us.
    </p>
    <ul>
      <li>
        <img src="" alt="" />
        <h5>John Wax</h5>
        <p>
          I rented the Lagoon 620 with my family for a week-long vacation and it
          was the best decision ever. The yacht was spacious, comfortable, and
          luxurious, and the crew took care of everything.
        </p>
      </li>
      <li>
        <img src="" alt="" />
        <h5>Victoria Romashenko</h5>
        <p>
          The Sunseeker Manhattan 66 was the perfect choice for our romantic
          getaway. The yacht was beautifully designed, with all the amenities we
          needed, and the crew was attentive and friendly.
        </p>
      </li>
      <li>
        <img src="" alt="" />
        <h5>Ihor Trachuk</h5>
        <p>
          The Azimut 80 was the most luxurious yacht I've ever been on. The
          cabins were spacious and elegant, and the outdoor areas were perfect
          for relaxing and entertaining. Worth every penny!
        </p>
      </li>
    </ul>
    <svg class="reviews-icon" width="59" height="13">
      <use href=""></use>
    </svg>
    <button type="button">
      <svg class="" width="16" height="8">
        <use href=""></use>
      </svg>
    </button>
  </div>
</section>
