<!-- Reviews section -->
<section class="reviews">
  <div class="container">
    <h4 class="reviews-title">
      <span class="reviews-titl-accent">Yaht Adventures</span> take pride in
      providing the best possible service and experience to our customers
    </h4>
    <p class="reviews-subtitle">
      Our customers have enjoyed unforgettable moments on our yachts. Don't just
      take our word for it - read on to find out what they have to say about
      their journey with us.
    </p>
    <ul>
      <li class="reviews-card">
        <picture>
          <!-- Tablet+desktop webp+png -->
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/hero/cus1-tablet@1x.webp 1x,
              ../img/hero/cus1-tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/hero/cus1-tablet@1x.png 1x,
              ../img/hero/cus1-tablet@2x.png 2x
            "
            type="image/jpg"
          />
          <!-- Mobile webp+png -->
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/hero/cus1-tablet@1x.webp 1x,
              ../img/hero/cus1-tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/hero/cus1-tablet@1x.png 1x,
              ../img/hero/cus1-tablet@2x.png 2x
            "
            type="image/jpg"
          />
          <img
            class="reviews-img"
            src="../img/hero/cus1-tablet@1x.png"
            alt="John Wax"
            width="48"
            height="48"
            loading="lazy"
          />
        </picture>
        <h5 class="card-title">John Wax</h5>
        <p class="card-subtitle">
          I rented the Lagoon 620 with my family for a week-long vacation and it
          was the best decision ever. The yacht was spacious, comfortable, and
          luxurious, and the crew took care of everything.
        </p>
      </li>
      <li class="reviews-card">
        <picture>
          <!-- Tablet+desktop webp+png -->
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/hero/cus2-tablet@1x.webp 1x,
              ../img/hero/cus2-tablet@2x.webp 2x
            "
            type="image/webp" />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/hero/cus2-tablet@1x.png 1x,
              ../img/hero/cus2-tablet@2x.png 2x
            "
            type="image/jpg" />
          <!-- Mobile webp+png -->
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/hero/cus2-tablet@1x.webp 1x,
              ../img/hero/cus2-tablet@2x.webp 2x
            "
            type="image/webp" />
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/hero/cus2-tablet@1x.png 1x,
              ../img/hero/cus2-tablet@2x.png 2x
            "
            type="image/jpg" />
          <img
            class="reviews-img"
            src="../img/hero/cus2-tablet@1x.png"
            alt="John Wax"
            width="48"
            height="48"
            loading="lazy"
        /></picture>

        <h5 class="card-title">Victoria Romashenko</h5>
        <p class="card-subtitle">
          The Sunseeker Manhattan 66 was the perfect choice for our romantic
          getaway. The yacht was beautifully designed, with all the amenities we
          needed, and the crew was attentive and friendly.
        </p>
      </li>
      <li class="reviews-card">
        <picture>
          <!-- Tablet+desktop webp+png -->
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/hero/cus3-tablet@1x.webp 1x,
              ../img/hero/cus3-tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/hero/cus3-tablet@1x.png 1x,
              ../img/hero/cus3-tablet@2x.png 2x
            "
            type="image/jpg"
          />
          <!-- Mobile webp+png -->
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/hero/cus3-tablet@1x.webp 1x,
              ../img/hero/cus3-tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/hero/cus3-tablet@1x.png 1x,
              ../img/hero/cus3-tablet@2x.png 2x
            "
            type="image/jpg"
          />
          <img
            class="reviews-img"
            src="../img/hero/cus3-tablet@1x.png"
            alt="John Wax"
            width="48"
            height="48"
            loading="lazy"
          />
        </picture>
        <h5 class="card-title">Ihor Trachuk</h5>
        <p class="card-subtitle">
          The Azimut 80 was the most luxurious yacht I've ever been on. The
          cabins were spacious and elegant, and the outdoor areas were perfect
          for relaxing and entertaining. Worth every penny!
        </p>
      </li>
    </ul>
    <svg class="reviews-icon" width="59" height="13">
      <use href="../public/sprite.svg#slider"></use>
    </svg>
    <button type="button" class="btn-up">
      <svg class="arrow-up" width="8" height="16">
        <use href="../public/sprite.svg#arrow-up"></use>
      </svg>
    </button>
  </div>
</section>
