<!-- ---------------------
    BLOCK SERVICES
----------------------- -->
<section class="services" id="services">
    <div class="services-container">
        <h2 class="visually-hidden"> Our services</h2>
        <ul class="services-list">
            <li class="services-sample sample-diving">
                <picture class="services-img services-fishing">
                     <source srcset="
                     ./img/services/ser1-desktop@1x.webp 1x,
                     ./img/services/ser1-desktop@2x.webp 2x" media="(min-width: 1280px)" type="image/webp" />

                    <source srcset="./img/services/ser1-tablet@1x.webp 1x,
                     ./img/services/ser1-tablet@2x.webp 2x" media="(min-width: 768px)" type="image/webp" />

                    <source srcset="./img/services/ser1-mob@1x.webp 1x,
                     ./img/services/ser1-mob@2x.webp 2x" media="(min-width: 375px)" type="image/webp" />

                    <source srcset="
                    ./img/services/ser1-desktop@1x.png 1x,
                    ./img/services/ser1-desktop@2x.png 2x" media="(min-width: 1280px)" type="image/png" />

                    <source srcset="./img/services/ser1-tablet@1x.png 1x,
                    ./img/services/ser1-tablet@2x.png 2x" media="(min-width: 768px)" type="image/png" />

                    <source srcset="./img/services/ser1-mob@1x.png 1x,
                    ./img/services/ser1-mob@2x.png 2x" media="(min-width: 375px)"
                    type="image/png" />
                    <img class= "img-diving" src="./img/services/ser1-desktop@1x.png" alt="a diving man wearing diving mask under the water" />
                </picture>
                <p class="services-text">Diving</p>
            </li>

            <li class="services-sample sample-fishing">
                <picture class="services-img services-fishing">
                    <source srcset="
                    ./img/services/ser2-desktop@1x.webp 1x,
                    ./img/services/ser2-desktop@2x.webp 2x" media="(min-width: 1280px)" type="image/webp" />

                    <source srcset="./img/services/ser2-tablet@1x.webp 1x,
                    ./img/services/ser2-tablet@2x.webp 2x" media="(min-width: 768px)" type="image/webp" />

                    <source srcset="./img/services/ser2-mob@1x.webp 1x,
                    ./img/services/ser2-mob@2x.webp 2x" media="(min-width: 375px)" 
                    type="image/webp" />

                    <source srcset="
                    ./img/services/ser2-desktop@1x.png 1x,
                    ./img/services/ser2-desktop@2x.png 2x" media="(min-width: 1280px)" type="image/png" />

                    <source srcset="./img/services/ser2-tablet@1x.png 1x,
                    ./img/services/ser2-tablet@2x.png 2x" media="(min-width: 768px)" type="image/png" />

                    <source srcset="./img/services/ser2-mob@1x.png 1x,
                    ./img/services/ser2-mob@2x.png 2x"
                    media="(min-width: 375px)" type="image/png" />
        
                <img src="./img/services/ser2-desktop@1x.png" alt="Hands of man holding a fishing rod in the sea" />

                </picture>
                <p class="services-text text-fishing">Fishing</p>

            </li>
            <li class="services-sample sample-sunbathing">
                <picture class="services-img services-sunbathing">
                    <source srcset="
                     ./img/services/ser3-desktop@1x.webp 1x,
                     ./img/services/ser3-desktop@2x.webp 2x" media="(min-width: 1280px)" 
                    type="image/webp" />

                    <source srcset="./img/services/ser3-tablet@1x.webp 1x,
                    ./img/services/ser3-tablet@2x.webp 2x" media="(min-width: 768px)"
                    type="image/webp" />

                    <source srcset="./img/services/ser3-mob@1x.webp 1x,
                     ./img/services/ser3-mob@2x.webp 2x" media="(min-width: 375px)"
                    type="image/webp" />

                    <source srcset="
                    ./img/services/ser3-desktop@1x.png 1x,
                    ./img/services/ser3-desktop@2x.png 2x" media="(min-width: 1280px)" type="image/png" />

                    <source srcset="./img/services/ser3-tablet@1x.png 1x,
                    ./img/services/ser3-tablet@2x.png 2x" media="(min-width: 768px)" type="image/png" />


                    <source srcset="./img/services/ser3-mob@1x.png 1x,
                    ./img/services/ser3-mob@2x.png 2x" media="(min-width: 768px)" type="image/png" />
        
                    <img src="../img/services/ser3-desktop@1x.png" alt="Pink sun umbrellas against blue sky" />
                </picture>
                <p class="services-text text-sunbathing">Sunbathing</p>
            </li>
        </ul>
    </div>
</section>