<section class="yahtblock">
  <div class="yablock-centered container">
    <div class="yablock-header-style">
      <h2 class="yablock-header">
        Choose your dream yacht and sail away into the sunset
      </h2>
      <button class="yablock-button" type="button">Yaht rental</button>
    </div>
    <div class="yachts-slider swiper-container">
      <ul class="yablock-list list swiper-wrapper">
        <!-- ========================== Y - A - H - T ~ C - A - R - D ~~~ I ~~~ ================== -->
        <li class="yahtblock-item swiper-slide">
          <picture>
            <!-- =========== D - E - S - K - T - O - P =========== -->
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/yahts/yaht1-desktop@1x.webp 1x,
                ./img/yahts/yaht1-desktop@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/yahts/yaht1-desktop@1x.png 1x,
                ./img/yahts/yaht1-desktop@2x.png 2x
              "
              type="image/png"
            />
            <!-- =========== T - A - B - L - E - T =============== -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/yahts/yaht1-tablet@1x.webp 1x,
                ./img/yahts/yaht1-tablet@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/yahts/yaht1-tablet@1x.png 1x,
                ./img/yahts/yaht1-tablet@2x.png 2x
              "
              type="image/webp"
            />
            <!-- =========== M - O - B - I - L - E =============== -->
            <source
              media="(min-width: 375px)"
              srcset="
                ./img/yahts/yaht1-mobile@1x.webp 1x,
                ./img/yahts/yaht1-mobile@1x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 375px)"
              srcset="
                ./img/yahts/yaht1-mobile@2x.png 1x,
                ./img/yahts/yaht1-mobile@2x.png 2x
              "
              type="image/webp"
            />
            <!-- ================ I - M - G================= -->
            <img
              class="yablock-card-picture"
              src="./img/yahts/yaht1-mobile@1x.png"
              alt="Yaht photo"
              width="300"
              height="250"
              loading="lazy"
            />
          </picture>
          <!-- ============= U - N - D - E - R - P - I - C - T - U - R - E - S ============= -->
          <div class="yablock-identification">
            <h3 class="yablock-name">Arrow</h3>
            <p class="yablock-type">luxury yahts</p>
          </div>
          <div class="yablock-tech-info-style">
            <ul class="yablock-attribute-list">
              <li class="yablock-atrbt-item">
                <p class="yablock-text-info">length</p>
              </li>
              <li class="yablock-atrbt-item">
                <p class="yablock-text-info">builder</p>
              </li>
              <li class="yablock-atrbt-item">
                <p class="yablock-text-info">built</p>
              </li>
              <li class="yablock-atrbt-item">
                <p class="yablock-text-info">guests</p>
              </li>
              <li class="yablock-atrbt-item">
                <p class="yablock-text-info">price</p>
              </li>
            </ul>
            <ul class="yablock-atrbt-dscrptn">
              <li class="yablock-atrbt-dscrptn-item">
                <p class="yablock-text">48m(115ft)</p>
              </li>
              <li class="yablock-atrbt-dscrptn-item">
                <p class="yablock-text">Admiral</p>
              </li>
              <li class="yablock-atrbt-dscrptn-item">
                <p class="yablock-text">2021</p>
              </li>
              <li class="yablock-atrbt-dscrptn-item">
                <p class="yablock-text">11 in 5 cabins</p>
              </li>
              <li class="yablock-atrbt-dscrptn-item">
                <p class="yablock-text">&#8364;33,500,000</p>
              </li>
            </ul>
          </div>
        </li>
        <!-- ========================== Y - A - H - T ~~ C - A - R - D ~~~ II ~~~ ================== -->
        <li class="yahtblock-item swiper-slide">
          <picture>
            <!-- =========== D - E - S - K - T - O - P =========== -->
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/yahts/yaht2-desktop@1x.webp 1x,
                ./img/yahts/yaht2-desktop@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/yahts/yaht2-desktop@1x.png 1x,
                ./img/yahts/yaht2-desktop@2x.png 2x
              "
              type="image/png"
            />
            <!-- =========== T - A - B - L - E - T =============== -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/yahts/yaht2-tablet@1x.webp 1x,
                ./img/yahts/yaht2-tablet@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/yahts/yaht2-tablet@1x.png 1x,
                ./img/yahts/yaht2-tablet@2x.png 2x
              "
              type="image/webp"
            />
            <!-- =========== M - O - B - I - L - E =============== -->
            <source
              media="(min-width: 375px)"
              srcset="
                ./img/yahts/yaht2-mobile@1x.webp 1x,
                ./img/yahts/yaht2-mobile@1x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 375px)"
              srcset="
                ./img/yahts/yaht2-mobile@2x.png 1x,
                ./img/yahts/yaht2-mobile@2x.png 2x
              "
              type="image/webp"
            />
            <!-- ================ I - M - G================= -->
            <img
              class="yablock-card-picture"
              src="./img/yahts/yaht2-mobile@1x.png"
              alt="Yaht photo"
              width="300"
              height="250"
              loading="lazy"
            />
          </picture>
          <!-- ============= U - N - D - E - R - P - I - C - T - U - R - E - S ============= -->
          <div class="yablock-identification">
            <h3 class="yablock-name yablock-third-header-max">
              Benetti Oasis 40M BO122
            </h3>
            <p class="yablock-type">luxury yahts</p>
          </div>
          <div class="yablock-tech-info-style">
            <ul class="yablock-attribute-list list">
              <li class="yablock-atrbt-item">
                <p class="yablock-text-info">length</p>
              </li>
              <li class="yablock-atrbt-item">
                <p class="yablock-text-info">shipyard</p>
              </li>
              <li class="yablock-atrbt-item">
                <p class="yablock-text-info">built</p>
              </li>
              <li class="yablock-atrbt-item">
                <p class="yablock-text-info">guests</p>
              </li>
              <li class="yablock-atrbt-item">
                <p class="yablock-text-info">price</p>
              </li>
            </ul>
            <ul class="yablock-atrbt-dscrptn">
              <li class="yablock-atrbt-dscrptn-item">
                <p class="yablock-text">41m(133ft)</p>
              </li>
              <li class="yablock-atrbt-dscrptn-item">
                <p class="yablock-text">Benetti</p>
              </li>
              <li class="yablock-atrbt-dscrptn-item">
                <p class="yablock-text">2025</p>
              </li>
              <li class="yablock-atrbt-dscrptn-item">
                <p class="yablock-text">10 in 5 cabins</p>
              </li>
              <li class="yablock-atrbt-dscrptn-item">
                <p class="yablock-text">&#8364;23,210,000</p>
              </li>
            </ul>
          </div>
        </li>
        <!-- ========================== Y - A - H - T ~~ C - A - R - D ~~~ III ~~~ ================== -->
        <li class="yahtblock-item swiper-slide">
          <picture>
            <!-- =========== D - E - S - K - T - O - P =========== -->
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/yahts/yaht3-desktop@1x.webp 1x,
                ./img/yahts/yaht3-desktop@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/yahts/yaht3-desktop@1x.png 1x,
                ./img/yahts/yaht3-desktop@2x.png 2x
              "
              type="image/png"
            />
            <!-- =========== T - A - B - L - E - T =============== -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/yahts/yaht3-tablet@1x.webp 1x,
                ./img/yahts/yaht3-tablet@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/yahts/yaht3-tablet@1x.png 1x,
                ./img/yahts/yaht3-tablet@2x.png 2x
              "
              type="image/webp"
            />
            <!-- =========== M - O - B - I - L - E =============== -->
            <source
              media="(min-width: 375px)"
              srcset="
                ./img/yahts/yaht3-mobile@1x.webp 1x,
                ./img/yahts/yaht3-mobile@1x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 375px)"
              srcset="
                ./img/yahts/yaht3-mobile@2x.png 1x,
                ./img/yahts/yaht3-mobile@2x.png 2x
              "
              type="image/webp"
            />
            <!-- ================ I - M - G================= -->
            <img
              class="yablock-card-picture"
              src="./img/yahts/yaht3-mobile@1x.png"
              alt="Yaht photo"
              width="300"
              height="250"
              loading="lazy"
            />
          </picture>
          <!-- ============= U - N - D - E - R - P - I - C - T - U - R - E - S ============= -->

          <div class="yablock-identification">
            <h3 class="yablock-name">Belle Anna</h3>
            <p class="yablock-type">luxury yahts</p>
          </div>
          <div class="yablock-tech-info-style">
            <ul class="yablock-attribute-list list">
              <li class="yablock-atrbt-item">
                <p class="yablock-text-info">length</p>
              </li>
              <li class="yablock-atrbt-item">
                <p class="yablock-text-info">shipyard</p>
              </li>
              <li class="yablock-atrbt-item">
                <p class="yablock-text-info">built</p>
              </li>
              <li class="yablock-atrbt-item">
                <p class="yablock-text-info">guests</p>
              </li>
              <li class="yablock-atrbt-item">
                <p class="yablock-text-info">price</p>
              </li>
            </ul>
            <ul class="yablock-atrbt-dscrptn">
              <li class="yablock-atrbt-dscrptn-item">
                <p class="yablock-text">50m(155ft)</p>
              </li>
              <li class="yablock-atrbt-dscrptn-item">
                <p class="yablock-text">ISA</p>
              </li>
              <li class="yablock-atrbt-dscrptn-item">
                <p class="yablock-text">2012</p>
              </li>
              <li class="yablock-atrbt-dscrptn-item">
                <p class="yablock-text">12 in 6 cabins</p>
              </li>
              <li class="yablock-atrbt-dscrptn-item">
                <p class="yablock-text">&#8364;21,500,000</p>
              </li>
            </ul>
          </div>
        </li>
        <!-- ========================== Y - A - H - T ~~ C - A - R - D ~~~ IV ~~~ ================== -->
        <li class="yahtblock-item swiper-slide">
          <picture>
            <!-- =========== D - E - S - K - T - O - P =========== -->
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/yahts/yaht4-desktop@1x.webp 1x,
                ./img/yahts/yaht4-desktop@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/yahts/yaht4-desktop@1x.png 1x,
                ./img/yahts/yaht4-desktop@2x.png 2x
              "
              type="image/png"
            />
            <!-- =========== T - A - B - L - E - T =============== -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/yahts/yaht4-tablet@1x.webp 1x,
                ./img/yahts/yaht4-tablet@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/yahts/yaht4-tablet@1x.png 1x,
                ./img/yahts/yaht4-tablet@2x.png 2x
              "
              type="image/webp"
            />
            <!-- =========== M - O - B - I - L - E =============== -->
            <source
              media="(min-width: 375px)"
              srcset="
                ./img/yahts/yaht4-mobile@1x.webp 1x,
                ./img/yahts/yaht4-mobile@1x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 375px)"
              srcset="
                ./img/yahts/yaht1-mobile@2x.png 1x,
                ./img/yahts/yaht4-mobile@2x.png 2x
              "
              type="image/webp"
            />
            <!-- ================ I - M - G================= -->
            <img
              class="yablock-card-picture"
              src="./img/yahts/yaht4-mobile@1x.png"
              alt="Yaht photo"
              width="300"
              height="250"
              loading="lazy"
            />
          </picture>
          <!-- ============= U - N - D - E - R - P - I - C - T - U - R - E - S ============= -->

          <div class="yablock-identification">
            <h3 class="yablock-name">Ellen</h3>
            <p class="yablock-type">Luxury yahts</p>
          </div>
          <div class="yablock-tech-info-style">
            <ul class="yablock-attribute-list list">
              <li class="yablock-atrbt-item">
                <p class="yablock-text-info">length</p>
              </li>
              <li class="yablock-atrbt-item">
                <p class="yablock-text-info">shipyard</p>
              </li>
              <li class="yablock-atrbt-item">
                <p class="yablock-text-info">built</p>
              </li>
              <li class="yablock-atrbt-item">
                <p class="yablock-text-info">guests</p>
              </li>
              <li class="yablock-atrbt-item">
                <p class="yablock-text-info">price</p>
              </li>
            </ul>
            <ul class="yablock-atrbt-dscrptn">
              <li class="yablock-atrbt-dscrptn-item">
                <p class="yablock-text">40m(132ft)</p>
              </li>
              <li class="yablock-atrbt-dscrptn-item">
                <p class="yablock-text">Perini Navi</p>
              </li>
              <li class="yablock-atrbt-dscrptn-item">
                <p class="yablock-text">2001 / 2016 (refitted)</p>
              </li>
              <li class="yablock-atrbt-dscrptn-item">
                <p class="yablock-text">9 in 4 cabins</p>
              </li>
              <li class="yablock-atrbt-dscrptn-item">
                <p class="yablock-text">&#8364;9,300,000</p>
              </li>
            </ul>
          </div>
        </li>
        <!-- ========================== Y - A - H - T ~~ C - A - R - D ~~~ V ~~~ ================== -->
        <li class="yahtblock-item swiper-slide">
          <picture>
            <!-- =========== D - E - S - K - T - O - P =========== -->
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/yahts/yaht5-desktop@1x.webp 1x,
                ./img/yahts/yaht5-desktop@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/yahts/yaht5-desktop@1x.png 1x,
                ./img/yahts/yaht5-desktop@2x.png 2x
              "
              type="image/png"
            />
            <!-- =========== T - A - B - L - E - T =============== -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/yahts/yaht5-tablet@1x.webp 1x,
                ./img/yahts/yaht5-tablet@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/yahts/yaht5-tablet@1x.png 1x,
                ./img/yahts/yaht5-tablet@2x.png 2x
              "
              type="image/webp"
            />
            <!-- =========== M - O - B - I - L - E =============== -->
            <source
              media="(min-width: 375px)"
              srcset="
                ./img/yahts/yaht5-mobile@1x.webp 1x,
                ./img/yahts/yaht5-mobile@1x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 375px)"
              srcset="
                ./img/yahts/yaht5-mobile@2x.png 1x,
                ./img/yahts/yaht5-mobile@2x.png 2x
              "
              type="image/webp"
            />
            <!-- ================ I - M - G================= -->
            <img
              class="yablock-card-picture"
              src="./img/yahts/yaht5-mobile@1x.png"
              alt="Yaht photo"
              width="300"
              height="250"
              loading="lazy"
            />
          </picture>
          <!-- ============= U - N - D - E - R - P - I - C - T - U - R - E - S ============= -->

          <div class="yablock-identification">
            <h3 class="yablock-name">Mirage 401</h3>
            <p class="yablock-type">luxury yahts</p>
          </div>
          <div class="yablock-tech-info-style">
            <ul class="yablock-attribute-list list">
              <li class="yablock-atrbt-item">
                <p class="yablock-text-info">length</p>
              </li>
              <li class="yablock-atrbt-item">
                <p class="yablock-text-info">shipyard</p>
              </li>
              <li class="yablock-atrbt-item">
                <p class="yablock-text-info">built</p>
              </li>
              <li class="yablock-atrbt-item">
                <p class="yablock-text-info">guests</p>
              </li>
              <li class="yablock-atrbt-item">
                <p class="yablock-text-info">price</p>
              </li>
            </ul>
            <ul class="yablock-atrbt-dscrptn">
              <li class="yablock-atrbt-dscrptn-item">
                <p class="yablock-text">38m(125ft)</p>
              </li>
              <li class="yablock-atrbt-dscrptn-item">
                <p class="yablock-text">Gianetti Custom Yachts</p>
              </li>
              <li class="yablock-atrbt-dscrptn-item">
                <p class="yablock-text">2024</p>
              </li>
              <li class="yablock-atrbt-dscrptn-item">
                <p class="yablock-text">10 in 5 cabins</p>
              </li>
              <li class="yablock-atrbt-dscrptn-item">
                <p class="yablock-text">&#8364;13,500,000</p>
              </li>
            </ul>
          </div>
        </li>
        <!-- ========================== Y - A - H - T ~~ C - A - R - D ~~~ VI ~~~ ================== -->
        <li class="yahtblock-item swiper-slide">
          <picture>
            <!-- =========== D - E - S - K - T - O - P =========== -->
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/yahts/yaht6-desktop@1x.webp 1x,
                ./img/yahts/yaht6-desktop@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/yahts/yaht6-desktop@1x.png 1x,
                ./img/yahts/yaht6-desktop@2x.png 2x
              "
              type="image/png"
            />
            <!-- =========== T - A - B - L - E - T =============== -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/yahts/yaht6-tablet@1x.webp 1x,
                ./img/yahts/yaht6-tablet@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/yahts/yaht6-tablet@1x.png 1x,
                ./img/yahts/yaht6-tablet@2x.png 2x
              "
              type="image/webp"
            />
            <!-- =========== M - O - B - I - L - E =============== -->
            <source
              media="(min-width: 375px)"
              srcset="
                ./img/yahts/yaht6-mobile@1x.webp 1x,
                ./img/yahts/yaht6-mobile@1x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 375px)"
              srcset="
                ./img/yahts/yaht6-mobile@2x.png 1x,
                ./img/yahts/yaht6-mobile@2x.png 2x
              "
              type="image/webp"
            />
            <!-- ================ I - M - G================= -->
            <img
              class="yablock-card-picture"
              src="./img/yahts/yaht6-mobile@1x.png"
              alt="Yaht photo"
              width="300"
              height="250"
              loading="lazy"
            />
          </picture>
          <!-- ============= U - N - D - E - R - P - I - C - T - U - R - E - S ============= -->

          <div class="yablock-identification">
            <h3 class="yablock-name">King</h3>
            <p class="yablock-type">luxury yahts</p>
          </div>
          <div class="yablock-tech-info-style">
            <ul class="yablock-attribute-list list">
              <li class="yablock-atrbt-item">
                <p class="yablock-text-info">length</p>
              </li>
              <li class="yablock-atrbt-item">
                <p class="yablock-text-info">shipyard</p>
              </li>
              <li class="yablock-atrbt-item">
                <p class="yablock-text-info">built</p>
              </li>
              <li class="yablock-atrbt-item">
                <p class="yablock-text-info">guests/p></p>
              </li>

              <li class="yablock-atrbt-item">
                <p class="yablock-text-info">price</p>
              </li>
            </ul>
            <ul class="yablock-atrbt-dscrptn">
              <li class="yablock-atrbt-dscrptn-item">
                <p class="yablock-text">33m(109ft)</p>
              </li>
              <li class="yablock-atrbt-dscrptn-item">
                <p class="yablock-text">Overmarine</p>
              </li>
              <li class="yablock-atrbt-dscrptn-item">
                <p class="yablock-text">2004 / 2018 (refitted)</p>
              </li>
              <li class="yablock-atrbt-dscrptn-item">
                <p class="yablock-text">9 in 4 cabins</p>
              </li>
              <li class="yablock-atrbt-dscrptn-item">
                <p class="yablock-text">&#8364;1,850,000</p>
              </li>
            </ul>
          </div>
        </li>
        <!-- ========================== Y - A - H - T ~~ C - A - R - D ~~~ VII ~~~ ================== -->
        <li class="yahtblock-item swiper-slide">
          <picture>
            <!-- =========== D - E - S - K - T - O - P =========== -->
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/yahts/yaht7-desktop@1x.webp 1x,
                ./img/yahts/yaht1-desktop@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/yahts/yaht7-desktop@1x.png 1x,
                ./img/yahts/yaht7-desktop@2x.png 2x
              "
              type="image/png"
            />
            <!-- =========== T - A - B - L - E - T =============== -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/yahts/yaht7-tablet@1x.webp 1x,
                ./img/yahts/yaht7-tablet@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/yahts/yaht7-tablet@1x.png 1x,
                ./img/yahts/yaht7-tablet@2x.png 2x
              "
              type="image/webp"
            />
            <!-- =========== M - O - B - I - L - E =============== -->
            <source
              media="(min-width: 375px)"
              srcset="
                ./img/yahts/yaht7-mobile@1x.webp 1x,
                ./img/yahts/yaht7-mobile@1x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 375px)"
              srcset="
                ./img/yahts/yaht7-mobile@2x.png 1x,
                ./img/yahts/yaht7-mobile@2x.png 2x
              "
              type="image/webp"
            />
            <!-- ================ I - M - G================= -->
            <img
              class="yablock-card-picture"
              src="./img/yahts/yaht7-mobile@1x.png"
              alt="Yaht photo"
              width="300"
              height="250"
              loading="lazy"
            />
          </picture>
          <!-- ============= U - N - D - E - R - P - I - C - T - U - R - E - S ============= -->

          <div class="yablock-identification">
            <h3 class="yablock-name">Salt</h3>
            <p class="yablock-type">luxury yahts</p>
          </div>
          <div class="yablock-tech-info-style">
            <ul class="yablock-attribute-list list">
              <li class="yablock-atrbt-item">
                <p class="yablock-text-info">length</p>
              </li>
              <li class="yablock-atrbt-item">
                <p class="yablock-text-info">builder</p>
              </li>
              <li class="yablock-atrbt-item">
                <p class="yablock-text-info">built</p>
              </li>
              <li class="yablock-atrbt-item">
                <p class="yablock-text-info">guests</p>
              </li>
              <li class="yablock-atrbt-item">
                <p class="yablock-text-info">price</p>
              </li>
            </ul>
            <ul class="yablock-atrbt-dscrptn">
              <li class="yablock-atrbt-dscrptn-item">
                <p class="yablock-text">32m(105ft)</p>
              </li>
              <li class="yablock-atrbt-dscrptn-item">
                <p class="yablock-text">SanLorenzo</p>
              </li>
              <li class="yablock-atrbt-dscrptn-item">
                <p class="yablock-text">2019</p>
              </li>
              <li class="yablock-atrbt-dscrptn-item">
                <p class="yablock-text">11 in 5 cabins</p>
              </li>
              <li class="yablock-atrbt-dscrptn-item">
                <p class="yablock-text">&#8364;7,800,000</p>
              </li>
            </ul>
          </div>
        </li>
        <!-- ========================== Y - A - H - T ~~ C - A - R - D ~~~ VIII ~~~ ================== -->
        <li class="yahtblock-item swiper-slide">
          <picture>
            <!-- =========== D - E - S - K - T - O - P =========== -->
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/yahts/yaht8-desktop@1x.webp 1x,
                ./img/yahts/yaht8-desktop@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/yahts/yaht8-desktop@1x.png 1x,
                ./img/yahts/yaht8-desktop@2x.png 2x
              "
              type="image/png"
            />
            <!-- =========== T - A - B - L - E - T =============== -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/yahts/yaht8-tablet@1x.webp 1x,
                ./img/yahts/yaht8-tablet@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/yahts/yaht8-tablet@1x.png 1x,
                ./img/yahts/yaht8-tablet@2x.png 2x
              "
              type="image/webp"
            />
            <!-- =========== M - O - B - I - L - E =============== -->
            <source
              media="(min-width: 375px)"
              srcset="
                ./img/yahts/yaht8-mobile@1x.webp 1x,
                ./img/yahts/yaht8-mobile@1x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 375px)"
              srcset="
                ./img/yahts/yaht8-mobile@2x.png 1x,
                ./img/yahts/yaht8-mobile@2x.png 2x
              "
              type="image/webp"
            />
            <!-- ================ I - M - G================= -->
            <img
              class="yablock-card-picture"
              src="./img/yahts/yaht8-mobile@1x.png"
              alt="Yaht photo"
              width="300"
              height="250"
              loading="lazy"
            />
          </picture>
          <!-- ============= U - N - D - E - R - P - I - C - T - U - R - E - S ============= -->

          <div class="yablock-identification">
            <h3 class="yablock-name">Storm</h3>
            <p class="yablock-type">luxury yahts</p>
          </div>
          <div class="yablock-tech-info-style">
            <ul class="yablock-attribute-list list">
              <li class="yablock-atrbt-item">
                <p class="yablock-text-info">length</p>
              </li>
              <li class="yablock-atrbt-item">
                <p class="yablock-text-info">shipyard</p>
              </li>
              <li class="yablock-atrbt-item">
                <p class="yablock-text-info">built</p>
              </li>
              <li class="yablock-atrbt-item">
                <p class="yablock-text-info">gests</p>
              </li>
              <li class="yablock-atrbt-item">
                <p class="yablock-text-info">price</p>
              </li>
            </ul>
            <ul class="yablock-atrbt-dscrptn">
              <li class="yablock-atrbt-dscrptn-item">
                <p class="yablock-text">32m(103ft)</p>
              </li>
              <li class="yablock-atrbt-dscrptn-item">
                <p class="yablock-text">overmarine</p>
              </li>
              <li class="yablock-atrbt-dscrptn-item">
                <p class="yablock-text">2005 / 2022 (refitted)</p>
              </li>
              <li class="yablock-atrbt-dscrptn-item">
                <p class="yablock-text">9 in 4 cabins</p>
              </li>
              <li class="yablock-atrbt-dscrptn-item">
                <p class="yablock-text">&#8364;2,900,000</p>
              </li>
            </ul>
          </div>
        </li>
        <!-- ========================== Y - A - H - T ~~ C - A - R - D ~~~ IX ~~~ ================== -->
        <li class="yahtblock-item swiper-slide">
          <picture>
            <!-- =========== D - E - S - K - T - O - P =========== -->
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/yahts/yaht9-desktop@1x.webp 1x,
                ./img/yahts/yaht9-desktop@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/yahts/yaht9-desktop@1x.png 1x,
                ./img/yahts/yaht9-desktop@2x.png 2x
              "
              type="image/png"
            />
            <!-- =========== T - A - B - L - E - T =============== -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/yahts/yaht9-tablet@1x.webp 1x,
                ./img/yahts/yaht9-tablet@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/yahts/yaht9-tablet@1x.png 1x,
                ./img/yahts/yaht9-tablet@2x.png 2x
              "
              type="image/webp"
            />
            <!-- =========== M - O - B - I - L - E =============== -->
            <source
              media="(min-width: 375px)"
              srcset="
                ./img/yahts/yaht9-mobile@1x.webp 1x,
                ./img/yahts/yaht9-mobile@1x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 375px)"
              srcset="
                ./img/yahts/yaht9-mobile@2x.png 1x,
                ./img/yahts/yaht9-mobile@2x.png 2x
              "
              type="image/webp"
            />
            <!-- ================ I - M - G================= -->
            <img
              class="yablock-card-picture"
              src="./img/yahts/yaht9-mobile@1x.png"
              alt="Yaht photo"
              width="300"
              height="250"
              loading="lazy"
            />
          </picture>
          <!-- ============= U - N - D - E - R - P - I - C - T - U - R - E - S ============= -->

          <div class="yablock-identification">
            <h3 class="yablock-name">Collu</h3>
            <p class="yablock-type">luxury yahts</p>
          </div>
          <div class="yablock-tech-info-style">
            <ul class="yablock-attribute-list list">
              <li class="yablock-atrbt-item">
                <p class="yablock-text-info">length</p>
              </li>
              <li class="yablock-atrbt-item">
                <p class="yablock-text-info">shipyard</p>
              </li>
              <li class="yablock-atrbt-item">
                <p class="yablock-text-info">built</p>
              </li>
              <li class="yablock-atrbt-item">
                <p class="yablock-text-info">guests</p>
              </li>
              <li class="yablock-atrbt-item">
                <p class="yablock-text-info">price</p>
              </li>
            </ul>
            <ul class="yablock-atrbt-dscrptn">
              <li class="yablock-atrbt-dscrptn-item">
                <p class="yablock-text-info">29m(96ft)</p>
              </li>
              <li class="yablock-atrbt-dscrptn-item">
                <p class="yablock-text-info">Ferretti</p>
              </li>
              <li class="yablock-atrbt-dscrptn-item">
                <p class="yablock-text-info">2014</p>
              </li>
              <li class="yablock-atrbt-dscrptn-item">
                <p class="yablock-text-info">10 in 5 cabins</p>
              </li>
              <li class="yablock-atrbt-dscrptn-item">
                <p class="yablock-text-info">&#8364;4,300,000</p>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <div class="yablock-btn-swiper-style slider-buttons">
        <div class="swiper-button-prev">
          <svg class="yablock-btns-svg" width="18px" height="8px">
            <use href="./public/sprite.svg#left-arrow" />
          </svg>
        </div>
        <div class="swiper-button-next">
          <svg class=".yablock-btns-svg" width="18px" height="8px">
            <use href="./public/sprite.svg#right-arrow" />
          </svg>
        </div>
      </div>
    </div>
    <div class="mask-group"></div>
  </div>
</section>
