.section-about {
  margin: 0 auto;
  min-width: 375px;
  padding-bottom: 146px;
}
.about-block {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .about-block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media only screen and (min-width: 1280px) {
  .about-block {
    flex-direction: row;

    justify-content: space-between;
  }
}
.about-title {
  margin: auto;
  margin-bottom: 40px;
  width: 335px;

  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.045em;

  color: var(--white);
}
.about-title-cursive {
  font-style: italic;

  color: var(--secondary-title-color);
}
@media only screen and (min-width: 768px) {
  .about-title {
    width: 514px;
    margin-left: 0;
    margin-bottom: 32px;

    font-size: 32px;
  }
}
@media only screen and (min-width: 1280px) {
  .about-title {
    margin: 0;
  }
}
.about-list {
  display: flex;
  margin: auto;
  gap: 14px;
  max-width: 335px;
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .about-list {
    margin-right: 0;
    margin-bottom: 64px;
    gap: 32px;
    max-width: 400px;
  }
}
.about-item {
  min-width: 160px;
}
@media only screen and (min-width: 768px) {
  .about-item {
    min-width: 185px;
  }
}
.about-desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.02em;

  color: var(--white);
}
@media only screen and (min-width: 768px) {
  .about-desc {
    font-size: 16px;
  }
}
.about-images-block {
}
.about-images-list {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
@media only screen and (min-width: 768px) {
  .about-images-list {
    flex-direction: row;
    justify-content: start;
    gap: 32px;
  }
}
@media only screen and (min-width: 1280px) {
  .about-images-list {
    flex-direction: column;
  }
}
.about-images-item {
}
.about-images-item-absolute {
  /* position: absolute;
  bottom: -266px;
  right: 0px;
  z-index: 0; */
}
@media only screen and (min-width: 1280px) {
  .about-image-1 {
    max-width: 533px;
  }
}

.about-image-2 {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media only screen and (min-width: 1280px) {
  .about-image-2 {
    position: absolute;
    max-width: 308px;
    top: 50%;
    left: 0;
  }
}
.about-image-3 {
  margin-left: auto;
  position: absolute;
  bottom: -244px;
  right: 0px;

  border-radius: 24px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
@media only screen and (min-width: 768px) {
  .about-image-3 {
    position: absolute;
    bottom: -156px;
    right: inherit;
  }
}
@media only screen and (min-width: 1280px) {
  .about-image-3 {
    bottom: -220px;
    left: 28%;
  }
}

/* Section example for positioning image */

/* .section-yacht {
  position: relative;
}
@media only screen and (min-width: 768px) {
  .section-yacht {
    min-width: 768px;
  }
}
.yacht-container {
  max-width: 335px;
}

.title-yacht {
  max-width: 310px;
  margin-top: -20px;
  margin-bottom: 40px;

  color: var(--white, #f6f5ef);
  font-size: 36px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.042em;
}
@media only screen and (min-width: 768px) {
  .title-yacht {
    min-width: 641px;
    font-size: 70px;

    letter-spacing: -0.045em;
  }
} */
