.header {
  padding-top: 24px;
  padding-bottom: 40px;
  outline: 1px solid tomato;
}
.header-container {
  display: flex;
  align-items: center;

  height: 72px;

  outline: 1px solid tomato;
}
.header-logotype {
  display: flex;
  gap: 8px;

  outline: 1px solid tomato;
}
.under-line {
  stroke-width: 1px;
  stroke: rgba(246, 245, 239, 0.2);
}
.header-logo {
}
.header-icon {
}
.logo-icon {
}
.logo-text {
  color: var(--white, #f6f5ef);

  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-nav {
  display: inline-block;
}
.nav-list {
  display: flex;
  gap: 24px;
}
.header-nav {
  display: none;
}
.nav-item {
}
.nav-link {
}
.menu-toggle {
  display: block;
  border: none;
  align-items: center;
  background-color: transparent;
  margin-left: auto;
}
.menu-icon {
}
.modal-menu-container {
}
.modal-menu-btn-close {
}
.close-icon {
}
.modal-menu-list {
}
.modal-menu-item {
}
.modal-menu-link {
}
