.header {
  margin-bottom: 40px;
}
.header-container {
  position: relative;

  display: flex;
  align-items: center;
  padding-top: 26px;
  padding-bottom: 26px;
  width: 335px;

  border-bottom: 1px solid;
  border-color: rgba(246, 245, 239, 0.2);
}
.header-logotype {
  display: inline-block;
}
.header-logo {
  display: flex;
  align-items: center;
  padding-top: 26px;
  padding-bottom: 26px;

  gap: 8px;
}
@media only screen and (min-width: 768px) {
  .header-icon {
    width: 20px;
    height: 23px;
  }
}
.logo-text {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white);
}
@media only screen and (min-width: 768px) {
  .log-text {
    font-size: 18px;
    line-height: 1.18;
  }
}
.header-nav {
  display: inline-block;
}
.header-nav {
  display: none;
}
@media only screen and (min-width: 768px) {
  .header-nav {
    display: inline-block;
    margin-left: auto;
  }
}
.nav-list {
  display: flex;
  gap: 24px;
}
.nav-link {
  padding-top: 26px;
  padding-bottom: 26px;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--secondary-title-color);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin-left: auto;
  border: none;
}

@media only screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

/**
  |============================
  | Blure
  |============================
*/
.blure {
  position: absolute;

  transform: rotate(-45deg);
  background-color: var(--normal-state);
  opacity: 0.6;
  /* border-radius: 420px; */
  /* filter: blur(100px); */
  backdrop-filter: blur(200px);
}

.blure-header-one {
  top: 480px;
  right: 352px;

  width: 279px;
  height: 279px;
}

.blure-header-two {
  top: 480px;
  left: -125px;

  width: 279px;
  height: 279px;
}

.blure-yacht-one {
  top: 2360px;
  left: -85px;

  width: 255px;
  height: 255px;
}

.blure-yacht-two {
  top: 2380px;
  left: 195px;

  width: 195px;
  height: 195px;
}

.blure-services {
  top: 3560px;
  right: 265px;

  width: 323px;
  height: 323px;
}

.blure-form {
  top: 4754px;
  left: 121px;

  width: 283px;
  height: 283px;
}

.blure-footer {
  top: 5833px;
  right: -159px;

  width: 420px;
  height: 420px;
}

/**
  |============================
  | Mobile menu
  |============================
*/
.is-open {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.mobile-menu-container {
  position: fixed;

  flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: 200;
  top: 0;
  left: 0;

  background-color: var(--body-bg-color);
}

.mobile-menu-header {
  display: flex;
  align-items: center;
  width: 335px;
  height: 72px;

  border-bottom: 1px solid;
  border-color: rgba(246, 245, 239, 0.2);
}

.mobile-menu-btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin-left: auto;
  border: none;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
  margin-top: 140px;
}

.mobile-menu-link {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white);
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
  color: var(--secondary-title-color);
  transition-duration: 250ms;
}

/**
  |============================
  | Blure
  |============================
*/
.blure {
  position: absolute;

  transform: rotate(-45deg);
  background-color: var(--normal-state);
  opacity: 0.6;
  border-radius: 420px;
  filter: blur(100px);
  /* backdrop-filter: blur(200px); */
}

.blure-header-one {
  top: 480px;
  right: 352px;

  width: 279px;
  height: 279px;
}

.blure-header-two {
  top: 480px;
  left: -125px;

  width: 279px;
  height: 279px;
}

.blure-yacht-one {
  top: 2360px;
  left: -85px;

  width: 255px;
  height: 255px;
}

.blure-yacht-two {
  top: 2380px;
  left: 200px;

  width: 195px;
  height: 195px;
}

.blure-services {
  top: 3519px;
  right: 205px;

  width: 323px;
  height: 323px;
}

.blure-form {
  display: none;
  top: 4754px;
  right: -179px;

  width: 283px;
  height: 283px;
}

.blure-footer {
  display: none;
  top: 5833px;
  right: -159px;

  width: 420px;
  height: 420px;
}

/**
  |============================
  | Blure mobile menu
  |============================
*/
.blure-mobile-one {
  top: 475px;
  left: -140px;

  width: 279px;
  height: 279px;
}

.blure-mobile-two {
  top: 615px;
  left: 130px;

  width: 279px;
  height: 279px;
}
