.header {
  margin-bottom: 40px;
}
.header-container {
  position: relative;

  display: flex;
  align-items: center;
  padding-top: 26px;
  padding-bottom: 26px;
  height: 72px;
  width: 335px;

  border-bottom: 1px solid;
  border-color: rgba(246, 245, 239, 0.2);
}
.header-logotype {
  display: inline-block;
}
.header-logo {
  display: flex;
  align-items: center;
  padding-top: 26px;
  padding-bottom: 26px;

  gap: 8px;
}
@media only screen and (min-width: 768px) {
  .header-icon {
    width: 20px;
    height: 23px;
  }
}
.logo-text {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white);
}
@media only screen and (min-width: 768px) {
  .log-text {
    font-size: 18px;
    line-height: 1.18;
  }
}
.header-nav {
  display: inline-block;
}
.header-nav {
  display: none;
}
@media only screen and (min-width: 768px) {
  .header-nav {
    display: inline-block;
    margin-left: auto;
  }
}
.nav-list {
  display: flex;
  gap: 24px;
}
.nav-link {
  padding-top: 26px;
  padding-bottom: 26px;
}
.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}
