.move-left {
  animation: move-left 0.6s ease-out both;
}

@keyframes move-left {
  0% {
    -webkit-transform: translateX(-400px);
    transform: translateX(-400px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.hero {
  padding-bottom: 80px;
}

@media screen and (min-width: 1280px) {
  .hero-flex-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .hero-content {
    max-width: 541px;
    padding-top: 79px;
  }
}

.hero-title {
  max-width: 324px;
  font-size: 36px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -1.62px;
  margin-bottom: 14px;
}

@media screen and (min-width: 768px) {
  .hero-title {
    max-width: 698px;
    font-size: 60px;
    letter-spacing: -2.7px;
    margin-bottom: 16px;
  }
}

.secondary-color-title {
  color: var(--secondary-title-color);
}

.hero-description {
  max-width: 332px;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -0.28px;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .hero-description {
    max-width: 539px;
    font-size: 16px;
    letter-spacing: -0.32px;
    margin-bottom: 32px;
  }
}

.hero-buttons {
  display: flex;
  gap: 8px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .hero-buttons {
    gap: 11px;
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-buttons {
    margin-bottom: 0;
  }
}

.hero-button {
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.63px;
  border-radius: 60px;
  padding: 14px 28px;
  border: none;
}

@media screen and (min-width: 768px) {
  .hero-button {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.81px;
  }
}

.hero-button-light {
  color: var(--white);
  background: var(--normal-state);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button-light:hover,
.hero-button-light:focus {
  background-color: var(--pressed-state);
}

.hero-button-dark {
  border: 1px solid var(--white);
  background-color: var(--body-bg-color);
  color: var(--white);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button-dark:hover,
.hero-button-dark:focus {
  border-color: var(--normal-state);
  color: var(--normal-state);
}

@media screen and (max-width: 767px) {
  .hero-background {
    width: 343px;
    height: 427px;
  }
}

.customers-cuption {
  color: var(--body-bg-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 0.56px;
  text-transform: uppercase;
}

.customers-list {
  display: flex;
  margin-bottom: 11px;
}
.hero-wrapper {
  position: relative;
}
.hero-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: -320px;
  z-index: -1;
  display: block;
  width: 1166px;
  height: 872px;

  background-image: url(../img/hero/blur@1x.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .hero-wrapper {
    width: 100%;
    height: 427px;
    position: relative;
    background-image: url(../img/hero/group-mobile@1x.png);
    background-repeat: no-repeat;
    background-size: 100% 427px;
  }
}

@media screen and (min-width: 375px) {
  .hero-wrapper {
    width: 335px;
    height: 427px;
    position: relative;
    background-image: url(../img/hero/group-mobile@1x.png);
    background-repeat: no-repeat;
    background-size: 335px 427px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-wrapper {
      background-image: url(../img/hero/group-mobile@2x.png);
    }
  }
}

@media screen and (min-width: 768px) {
  .hero-wrapper {
    width: 426px;
    height: 598px;
    background-image: url(../img/hero/group-tablet@1x.png);
    background-size: 426px 598px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-wrapper {
      background-image: url(../img/hero/group-tablet@2x.png);
    }
  }
}

.customers-block {
  width: 135px;
  position: absolute;
  left: 24px;
  top: 24px;
}

@media screen and (min-width: 768px) {
  .customers-block {
    width: 149px;
    left: 32px;
    top: 32px;
  }
}

.customers-img {
  width: 48px;
  height: 48px;
  border: 2px solid var(--normal-state);
  border-radius: 56px;
}

@media screen and (min-width: 768px) {
  .customers-img {
    width: 56px;
    height: 56px;
  }
}

.customers-item:first-child {
  z-index: 3;
}

.customers-item:nth-child(2) {
  position: absolute;
  top: 0;
  left: 41px;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .customers-item:nth-child(2) {
    left: 45px;
  }
}

.customers-item:nth-child(3) {
  position: absolute;
  top: 0;
  left: 83px;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .customers-item:nth-child(3) {
    left: 93px;
  }
}

.ceo {
  position: absolute;
  top: 35px;
  right: -12px;
}

@media screen and (min-width: 768px) {
  .ceo {
    top: 32px;
    left: 339px;
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .ceo {
    left: 305px;
  }
}

.hero-image {
  position: absolute;
  top: 152px;
  left: 24px;
}

@media screen and (min-width: 768px) {
  .hero-image {
    top: 225px;
  }
}

.hero-advertising {
  position: absolute;
  left: 24px;
  bottom: 48px;
  display: flex;
  align-items: center;
  gap: 14px;
}

@media screen and (min-width: 768px) {
  .hero-advertising {
    left: 32px;
    bottom: 64px;
  }
}

.hero-advertising-sum {
  color: var(--body-bg-color);
  font-size: 48px;
  line-height: 110%;
  letter-spacing: -2.16px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .hero-advertising-sum {
    font-size: 60px;
    letter-spacing: -2.7px;
  }
}

.hero-advertising-cta {
  color: var(--body-bg-color);
  max-width: 169px;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -0.63px;
}

@media screen and (min-width: 768px) {
  .hero-advertising-cta {
    max-width: 208px;
    font-size: 18px;
    line-height: 110%;
    letter-spacing: -0.81px;
  }
}
