/* ****************
    RENT BLOCK
**************** */

/*MOBILE*/
.section-rent {
  padding-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .section-rent {
    padding-bottom: 100px;
  }
}

@media only screen and (min-width: 1280px) {
  .section-rent {
    padding-bottom: 164px;
  }
}

@media only screen and (min-width: 768px) {
  .rent-all {
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1280px) {
  .rent-all {
    max-width: 913px;
    justify-content: center;
    gap: 188px;
  }
}

.rent-title-part {
  position: relative;

  display: block;
  padding-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .rent-title-part {
    max-width: 259px;
    padding-bottom: 100px;
  }
}

@media only screen and (min-width: 1280px) {
  .rent-title-part {
    max-width: 282px;
    padding-bottom: 0;
  }
}

/* BLUR */

.rent-title-part::after {
  position: absolute;

  top: 370px;
  left: 190px;
  z-index: -1;

  content: '';
  display: block;

  width: 283px;
  height: 283px;
  transform: rotate(-45deg);
  border-radius: 50%;
  opacity: 0.6;
  background: #91afba;
  filter: blur(100px);
}

@media screen and (min-width: 768px) {
  .rent-title-part::after {
    top: 60px;
    left: 550px;

    width: 413px;
    height: 413px;
  }
}

@media screen and (min-width: 1280px) {
  .rent-title-part::after {
    top: 100px;
    left: 900px;
  }
}

@media screen and (min-width: 768px) {
  .rent-title-part::after {
    top: 40px;
    left: 350px;

    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 767px) {
  .rent-title-part::after {
    display: none;
  }
}

.rent-title {
  font-size: 36px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -1.62px;
  padding-bottom: 16px;
}

/*TABLET AND DESKTOP*/

@media only screen and (min-width: 768px) {
  .rent-title {
    font-size: 60px;
    letter-spacing: -2.7px;
    padding-bottom: 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .rent-title {
    padding-bottom: 64px;
  }
}

.rent-request {
  display: flex;
  flex-wrap: wrap;
  width: 335px;
}

@media only screen and (min-width: 320px) and (max-width: 374px) {
  .rent-request {
    width: 300px;
  }
}

@media only screen and (min-width: 768px) {
  .rent-request {
    display: block;
    width: 364px;
  }
}

@media only screen and (min-width: 1280px) {
  .rent-request {
    width: 443px;
  }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .rent-form {
    width: 95%;
  }
}

@media screen and (min-width: 375px) {
  .rent-form {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .rent-form {
    width: 100%;
    max-height: 266px;
  }
}

.rent-form-list {
  margin-bottom: 24px;
}

@media only screen and (min-width: 768px) {
  .rent-form-list {
    margin-bottom: 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .rent-form-list {
    margin-bottom: 64px;
  }
}

.rent-list-item {
  position: relative;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.63px;
}

@media only screen and (min-width: 768px) {
  .rent-list-item {
    font-size: 16px;
    letter-spacing: -0.72px;
  }
}

.rent-form-label {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 22px;
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.63px;
  pointer-events: none;
  transition: 0.5s;
}

@media only screen and (min-width: 768px) {
  .rent-form-label {
    font-size: 16px;
    letter-spacing: -0.72px;
  }
}

.rent-form-input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-color: transparent;
  border-bottom: 1px solid var(--white);
  padding-top: 24px;
  outline: none;
  color: var(--white);
  padding-bottom: 15px;
}

@media only screen and (min-width: 768px) {
  .rent-form-input {
    padding-top: 28px;
  }
}

.rent-form-input:focus ~ .rent-form-label,
.rent-form-input:valid ~ .rent-form-label,
.rent-form-input:not(:placeholder-shown) ~ .rent-form-label,
.rent-form-comment:focus ~ .rent-label-form,
.rent-form-comment:not(:placeholder-shown) ~ .rent-label-form {
  top: -18px;
  left: 0;
  color: var(--normal-state);
  font-size: 10px;
}

.rent-form-input[title]:hover::after {
  content: attr(title);
  display: block;
  position: absolute;
  background-color: var(--body-bg-color);
  color: var(--white);
  padding: 4px;
  border-radius: 10px;
  white-space: nowrap;
  z-index: 1;
}

.rent-list-item-comment {
  position: relative;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.63px;
}

.rent-form-comment {
  width: 100%;
  background-color: transparent;
  border: none;
  border-color: transparent;
  border-bottom: 1px solid var(--white);
  padding-top: 24px;
  outline: none;
  color: var(--white);
  resize: none;
}

.rent-label-form {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 22px;
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.63px;
  pointer-events: none;
  transition: 0.5s;
}

.rent-btnsend {
  display: flex;
  padding: 14px 28px;
  justify-content: center;
  align-items: center;

  width: 123px;
  height: 43px;
  gap: 16px;

  color: var(--white);
  background-color: transparent;
  border-radius: 60px;
  border: 1px solid var(--white);
}

@media only screen and (min-width: 768px) {
  .rent-btnsend {
    width: 123px;
    height: 48px;
  }
}

.rent-send-button {
  fill: var(--white);
}

/* **************** 
RENT MODAL WINDOW 
**************** */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.rent-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 335px;
  height: 396px;
  padding: 40px 24px;

  background-color: var(--card-bg);
  border-radius: 20px;

  z-index: 99;
}

@media only screen and (min-width: 768px) {
  .rent-modal {
    width: 570px;
    height: 522px;
    padding: 97px 64px 64px 64px;
    border-radius: 40px;
  }
}

/* BLUR */
.rent-modal::after {
  position: absolute;

  top: 100px;
  left: 100px;
  z-index: -1;

  content: '';
  display: block;

  width: 142px;
  height: 142px;
  transform: rotate(-45deg);
  border-radius: 50%;
  opacity: 0.6;
  background: #91afba;
  filter: blur(100px);
}

@media screen and (min-width: 768px) {
  .rent-modal::after {
    top: 50px;
    left: 170px;

    width: 265px;
    height: 265px;
  }
}

.rent-modalbtn {
  background-color: transparent;
  border: transparent;
  position: absolute;

  top: 14px;
  right: 14px;

  width: 20px;
  height: 20px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  fill: var(--white);
  stroke: var(--white);

  cursor: pointer;
}

.rent-modalbtn:hover,
.rent-modalbtn:focus {
  fill: var(--normal-state);
  stroke: var(--normal-state);
}

.rent-close-icon:hover,
.rent-close-icon:focus {
  fill: var(--normal-state);
  stroke: var(--normal-state);
}

.rent-imgmodal {
  display: flex;
  max-width: 287px;
  max-height: 149px;
  margin: 40px 24px 24px 24px;
}

@media only screen and (min-width: 768px) {
  .rent-imgmodal {
    margin: 0 auto;
    min-width: 338px;
  }
}

.rent-modal-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1.08px;

  padding-bottom: 14px;
}

/*TABLET AND DESKTOP*/
@media only screen and (min-width: 786px) {
  .rent-modal-title {
    font-size: 32px;
    letter-spacing: -0.32px;

    padding-bottom: 16px;
  }
}

.rent-modal-text {
  width: 287px;
}

/*TABLET AND DESKTOP*/
@media only screen and (min-width: 768px) {
  .rent-modal-text {
    width: 442px;
    font-size: 16px;
    letter-spacing: -0.32px;
  }
}
