/**
  |============================
  | Reviews Block
  |============================
*/
.reviews-container {
    padding: 0 20px;
  }

@media screen and (min-width: 768px) {
    .reviews-container {
    padding: 0 32px;
    }
}

@media screen and (min-width: 1280px) {
    .reviews-section {
    padding-bottom: 25px;
  }
}

/* reviews-header */

.reviews-header {
    margin-bottom: 40px;
}

  @media screen and (min-width: 768px) {
    .reviews-header {
    margin-bottom: 64px;  
    }
}

@media screen and (min-width: 1280px) {
    .reviews-header{
    display: flex;
    justify-content: center;
  }
}

/* reviews-title  */

.reviews-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
}

@media screen and (max-width: 767px) { 
  .reviews-title {
  margin-bottom: 24px;

  letter-spacing: -1.08px;
  }
}

@media screen and (min-width: 768px) {
  .reviews-title {
    margin-bottom: 32px;
    margin-right: auto;
    width: 497px;

    font-size: 32px;
    letter-spacing: -1.44px;
  }
}

.reviews-title-accent {
  font-style: italic;
  color: var(--secondary-title-color);
}

/* reviews-subtitle  */

.reviews-subtitle {
    margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
    .reviews-subtitle {
    margin-bottom: 64px;
    margin-left: auto;
    width: 273px;
    font-size: 16px;
    letter-spacing: -0.32px; 
    }
}

@media screen and (min-width: 1280px) {
    .reviews-subtitle {
     line-height: 1.4;
    font-weight: 400;  
    }
}

/* reviews-set */

.reviews-set {
  display: flex;
  padding-bottom: 20px;
}

@media screen and (min-width: 1280px) {
  .reviews-set {
  flex-wrap: nowrap;
  /* gap: 32px;   */
  }  
}

/* reviews-card */

.reviews-set .reviews-card {
    padding: 24px 17px;
    margin-bottom: 14px;

    border-radius: 24px;
    background: var(--card-bg);
    text-align: center;   
}

@media screen and (min-width: 768px) {
    .reviews-set .reviews-card {
    width: calc((100% - 16px) / 2);
    padding: 24px 12px;
    margin-bottom: 32px;
    }
}

@media screen and (min-width: 1280px) {
    .reviews-set .reviews-card {
    width: calc((100% - 64px) / 3);
    padding: 32px;
    margin: 0;
    }
}

/* reviews-img */
.reviews-img {
  margin: 0px auto 18px;
}

@media screen and (min-width: 768px) {
    .reviews-img {
    width: 56px;
    height: 56px;
    margin: 0px auto 24px;  
    }
}

/* card-title */

.reviews-card .card-title {
  margin-bottom: 8px;
  font-weight: 500;
  line-height: 1.1;
  font-size: 16px;
  letter-spacing: -0.72px;
}

 @media screen and (min-width: 768px) {
  .reviews-card .card-title {
  font-size: 18px;
  letter-spacing: -0.81px; 
  }
}

/* card-subtitle */

.reviews-card .card-subtitle {
  color: rgba(246, 245, 239, 0.5);
  font-size: 12px;
  letter-spacing: -0.24px;
  }

@media screen and (min-width: 768px) {
    .reviews-card .card-subtitle {
     font-size: 16px;
    letter-spacing: -0.32px;
    }
}

/*  Swiper */
.swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.comment-swiper .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  background-color: var(--pressed-state);
}
