.reviews-section {
    padding-bottom: 80px;
}

.reviews {
    position: relative;
}

.container {
    @media screen and (max-width: 767px) {
        outline: 1px solid white;

        padding: 0 20px;
    }

    @media screen and (min-width: 768px) {
        padding: 0 32px;
        outline: 1px solid white;
    }
}

.reviews-header {
    @media screen and (max-width: 767px) {
            margin-bottom: 40px;
        }
    
    @media screen and (min-width: 768px) {
            margin-bottom: 64px;
        }

    @media screen and (min-width: 1280px) {
        display: flex;
        justify-content: center;
        }
}
.reviews-title {
    @media screen and (max-width: 767px) {
        margin-bottom: 24px;
    }
    @media screen and (max-width: 767px) {
        margin-bottom: 40px;
    }

    @media screen and (min-width: 768px) {
        margin-bottom: 64px;
    }

    @media screen and (min-width: 1280px) {
        display: flex;
        justify-content: center;
    }
}

.reviews-title {
    @media screen and (max-width: 767px) {
        margin-bottom: 24px;
        font-size: 24px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: -1.08px;
    }

    @media screen and (min-width: 768px) {
        margin-bottom: 32px;
        margin-right: auto;
        width: 497px;
        font-size: 32px;
        letter-spacing: -1.44px;
    }
}

.reviews-titl-accent {
    font-style: italic;
    color: var(--secondary-title-color);
}

.reviews-subtitle {
    @media screen and (max-width: 767px) {
        margin-bottom: 40px;
    }

    @media screen and (min-width: 768px) {
        margin-bottom: 64px;
        margin-left: auto;
        width: 273px;
        letter-spacing: -0.32px;
    }   
}

.reviews-set {
    @media screen and (min-width: 767px) {
       display: flex;
       flex-wrap: wrap;
       gap: 16px;
    }
    @media screen and (min-width: 1280px) {
       gap: 32px;
    }
}

.reviews-set {
    @media screen and (min-width: 767px) {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }

    @media screen and (min-width: 1280px) {
        gap: 32px;
    }
}

.reviews-card {
    @media screen and (max-width: 767px) {
        padding: 24px;
        margin-bottom: 14px;
        
        border-radius: 24px;
        background: var(--card-bg);
        text-align: center;
    }

    @media screen and (min-width: 768px) {
        width: calc( (100% - 16px) / 2);

        padding: 24px 32px;
        border-radius: 24px;
        background: #1F212D;
        text-align: center;
    }

    @media screen and (min-width: 1280px) {
        width: calc((100% - 64px) / 3);
        padding: 32px;
    }
}

.reviews-img {
    margin: 0px auto 18px;
    
    @media screen and (min-width: 768px) {
        width: 56px;
        height: 56px;
        margin: 0px auto 24px;
    }
}

.reviews-card .card-title {
    margin-bottom: 8px;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.72px;
}

.reviews-card .card-subtitle {
    font-size: 12px;
    letter-spacing: -0.24px;

    color: rgba(246, 245, 239, 0.50);
    ;
}

.reviews-icon {
    margin: 0 auto;
    display: block;
}