/*******************
   BLOCK SERVICES
*******************/

@media only screen and (max-width: 767px) {
   .services-container {
    max-width: 335px;
    padding: 0 20px;
  }
}

@media only screen and (min-width: 768px) {
   .services-container {
    max-width: 704px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1280px) {
   .services-container {
    max-width: 1216px;
  }
}

.services-list {
    padding-bottom: 80px;
}

.services-sample {
    position: relative;
    border-radius: 40px;
    margin-bottom: 24px;
    overflow: hidden;
}

.services-sample > .services-text {
    position: absolute;
    bottom: 24px;
    left: 24px;
    margin: 0;
    padding: 14px 28px;
    border-radius: 60px;
    background-color: var(--white);
    color: var(--body-bg-color);
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -0.63px;
}

@media only screen and (min-width: 768px) {
   .services-sample {
    width: 704px;
    margin-bottom: 32px;
    position: relative
  }

 .services-list {
   position: relative;
 }

 .services-sample.sample-diving {
   height: 632px;
 }

 .services-sample.sample-fishing {
   height: 389px;
 }

 .services-sample.sample-sunbathing {
   height: 352px;
 }

 .services-list .services-sample:nth-child(2) .services-img {
   position: absolute;
   top: 0;
   right: 0;
 }

 .services-sample.sample-fishing>.services-text.text-fishing {
   left: 336px;
 }

 .services-list .services-sample:nth-child(3) .services-img {
   position: absolute;
   top: 0;
   left: 32px;
 }

 .services-sample.sample-sunbathing>.services-text.text-sunbathing {
   left: 64px;
 }
}


@media only screen and (min-width: 1280px) {
  .services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 64px;
  }

  .services-sample.sample-diving {
    flex: 0 0 712px;
    }
  
  .services-sample.sample-fishing {
   flex: 0 0 440px;
    }

  .services-sample.sample-diving .services-img {
    width: 712px;
    height: 632px;
  }

  .services-sample.sample-fishing .services-img {
    width: 440px;
    height: 428px;
  }

  .services-sample.sample-fishing {
    margin-top: 245px;
  }
  
  .services-sample.sample-sunbathing {
    margin-top: 64px;
    margin-left: 340px;
    width: 100%;
  }

  .services-sample.sample-sunbathing .services-img {
    width: 100%;
  }

  .services-sample.sample-fishing>.services-text.text-fishing {
    left: 32px;
    
  }
}