/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./aboutBlock.css');
@import url('./yachtsBlock.css');
@import url('./servicesBlock.css');
@import url('./rentBlock.css');
@import url('./reviewsBlock.css');
@import url('./footer.css');
@import url('./normalize.css');
@import url('./fonts.css');

:root {

  --body-bg-color: #11131F;
  --white: #F6F5EF;
  --normal-state: #93ABAE;
  --card-bg: #1F212D;
  --pressed-state: #88B3B9;
  --secondary-title-color: #BEC7C2;
}

body {
  background-color: var(--body-bg-color);
  color: var(--white);
  font-family: 'DM Sans', sans-serif;
  
.container{
  width: 335px;
  margin: 0 auto;
}