/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./normalize.css');
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./aboutBlock.css');
@import url('./yachtsBlock.css');
@import url('./servicesBlock.css');
@import url('./rentBlock.css');
@import url('./reviewsBlock.css');
@import url('./footer.css');
@import url('./fonts.css');
@import url('./uptotop.css');

:root {

  --body-bg-color: #11131F;
  --white: #F6F5EF;
  --normal-state: #93ABAE;
  --card-bg: #1F212D;
  --pressed-state: #88B3B9;
  --secondary-title-color: #BEC7C2;
 
}

body {
  background-color: var(--body-bg-color);
  color: var(--white);

  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.28px;
}

.container {
  @media screen and (max-width: 767px) {
    max-width: 335px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 704px;
  }

  @media screen and (min-width: 1280px) {
    width: 1216px;
  }

  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  opacity: 0;
}