/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./aboutBlock.css');
@import url('./yachtsBlock.css');
@import url('./servicesBlock.css');
@import url('./rentBlock.css');
@import url('./reviewsBlock.css');
@import url('./footer.css');
@import url('./normalize.css');
@import url('./fonts.css');

:root {

  --body-bg-color: #11131F;
  --white: #F6F5EF;
  --normal-state: #93ABAE;
  --card-bg: #1F212D;
  --pressed-state: #88B3B9;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);
}

body {
  background-color: var(--body-bg-color);
  color: var(--white);
  font-family: 'DM Sans', sans-serif;
}